<form method="post">
    <div>
        <fieldset class="hidden">
            {{ form2.name(class= "form-control", value = datas['strDrink']) }}
            {{ form2.instructions(class= "form-control", value = datas['strInstructions']) }}
            {{ form2.image(class= "form-control", value = datas['strDrinkThumb']) }}
            {{ form2.ingredient1(class= "form-control", value = datas['strIngredient1']) }}
            {{ form2.measure1(class= "form-control", value = datas['strMeasure1']) }}
            {{ form2.ingredient2(class= "form-control", value = datas['strIngredient2']) }}
            {{ form2.measure2(class= "form-control", value = datas['strMeasure2']) }}
            {{ form2.ingredient3(class= "form-control", value = datas['strIngredient3']) }}
            {{ form2.measure3(class= "form-control", value = datas['strMeasure3']) }}
            {{ form2.ingredient4(class= "form-control", value = datas['strIngredient4']) }}
            {{ form2.measure4(class= "form-control", value = datas['strMeasure4']) }}
            {{ form2.ingredient5(class= "form-control", value = datas['strIngredient5']) }}
            {{ form2.measure5(class= "form-control", value = datas['strMeasure5']) }}
            {{ form2.ingredient6(class= "form-control", value = datas['strIngredient6']) }}
            {{ form2.measure6(class= "form-control", value = datas['strMeasure6']) }}
            {{ form2.ingredient7(class= "form-control", value = datas['strIngredient7']) }}
            {{ form2.measure7(class= "form-control", value = datas['strMeasure7']) }}
            {{ form2.ingredient8(class= "form-control", value = datas['strIngredient8']) }}
            {{ form2.measure8(class= "form-control", value = datas['strMeasure8']) }}
            {{ form2.ingredient9(class= "form-control", value = datas['strIngredient9']) }}
            {{ form2.measure9(class= "form-control", value = datas['strMeasure9']) }}
            {{ form2.ingredient10(class= "form-control", value = datas['strIngredient10']) }}
            {{ form2.measure10(class= "form-control", value = datas['strMeasure10']) }}
            {{ form2.ingredient11(class= "form-control", value = datas['strIngredient11']) }}
            {{ form2.measure11(class= "form-control", value = datas['strMeasure11']) }}
            {{ form2.ingredient12(class= "form-control", value = datas['strIngredient12']) }}
            {{ form2.measure12(class= "form-control", value = datas['strMeasure12']) }}
            {{ form2.ingredient13(class= "form-control", value = datas['strIngredient13']) }}
            {{ form2.measure13(class= "form-control", value = datas['strMeasure13']) }}
            {{ form2.ingredient14(class= "form-control", value = datas['strIngredient14']) }}
            {{ form2.measure14(class= "form-control", value = datas['strMeasure14']) }}
            {{ form2.ingredient15(class= "form-control", value = datas['strIngredient15']) }}
            {{ form2.measure15(class= "form-control", value = datas['strMeasure15']) }}
        </fieldset>
    </div>

    
    {{ form2.submit_button(class="btn btn-outline-success btn-block", value="Add Drink") }}
</form>