<form method="post">
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md mb-3">
                {{ form.drink_name.label }}
                {{ form.drink_name(class= "form-control", placeholder = "Search by drink name...") }}
            </div> 
            <div class="col-md mt-2">
                {{ form.submit_button(class="btn btn-outline-danger btn-block", value="Search") }}
            </div>
        </div>
    </div>
</form>