{% extends 'base.html' %}

{% block content %}
<div class="bg-dark">
    <div class="mx-5">

        <div>
            {% include 'searchform.html' %}
        </div>

        
        {% if data %}
        <div class="row d-flex justify-content-center ">
            {% for datas in data %}
            <div class="card m-5" style="width: 18rem;">
                <img src="{{ datas['strDrinkThumb'] }}" class="card-img-top my-2" alt="{{ datas['strDrink'] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ datas['strDrink'] }}</h5>
                    <p class="card-text">{{ datas['strInstructions'] }}</p>
                </div>
                <h6><strong></strong>Ingredients</strong></h6>
                <ul class="list-group list-group-flush">
                    {% for i in range(1,16) %}
                    {% if datas['strIngredient' + i|string] %} 
                        {% if datas['strMeasure' + i|string] %}
                        <li class="list-group-item">{{ datas['strIngredient' + i|string] }}, {{ datas['strMeasure' + i|string] }}</li>
                        {% else %}
                        <li class="list-group-item">{{ datas['strIngredient' + i|string] }}</li>
                        {% endif %}
                        {% endif %}
                    
                    {% endfor %}
                </ul>
                <div class="card-body text-center">
                    {% include 'addform.html' %}

                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p style="color:white"></p>
        {% endif %}

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/images/chinh-le-duc-cO36bp1F-Cg-unsplash.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-1">Search For Any Cocktail By Name</h5>
                    <!-- <p>Some representative placeholder content for the first slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/images/theme-photos-kPHYuzqoaz0-unsplash.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-1">Save Your Favorites To Your Profile</h5>
                    <!-- <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/images/chino-rocha-5_fLBRtcVOc-unsplash.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5 class="fs-1">Browse Thousands of Drink Recipes</h5>
                    <!-- <p>Some representative placeholder content for the third slide.</p> -->
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        


    </div>
</div>
{% endblock content %}