{% extends 'base.html' %}

{% block content %}

<header class="hero-section">
    <h3 class="header-text">Welcome to Dino Park API {{ current_user.first_name }}!</h3>
</header>

<div class="container">
    <h3>Here are your profile details!</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>

        <!-- Add access key, plug in user email from database -->
    </ul>
</div>

{% endblock content %}